.idea
venv/
__pycache__

/tests/*/.drypipe
/tests/*/publish

/tests/.drypipe
/tests/publish

/tests/test.py

/dry_pipe.egg-info/

/tests/test-scripts/
/ui/node_modules/
/ui/dist
tests/containers/*.sif
/tests/sandboxes/bak/todo.md
/tests/sandboxes/
